@page
@using AspDemos.Areas.Admin.Pages
@model IndexModel
@{
    ViewData["Title"] = "Admin Home page";
}

<div class="text-center">
    <h1 class="display-4">Admin Index</h1>
    <p>Select area from menu.</p>
</div>
